chromadb>=1.0.15
google-genai>=1.24.0
google-generativeai>=0.8.5
langchain>=0.3.26
langchain-chroma>=0.2.4
langchain-community>=0.3.27
langchain-huggingface>=0.3.0
langchain-openai>=0.3.27
pypdf>=5.7.0
pypdf2>=3.0.1
python-dotenv>=1.1.1
sentence-transformers>=5.0.0
streamlit>=1.46.1
openpyxl
pandas
openai